html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0%;
}

h1 {
  color: black;
  font-family: cursive;
  font-size: 3.75rem;
}

h2 {
  color: black;
  font-family: cursive;
}

/*font family 
font-family: 'Edu TAS Beginner', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Roboto', sans-serif;
*/

footer {
  background-color:rgb(114, 189, 250);
  font-family: 'Roboto', sans-serif;
  position: sticky;
  margin-top: 50px;
  height: 5rem;
  width: 100%;
}

footer .content {
  color: white;
  height: 4rem;
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

footer .copyright {
  flex-grow: 1;
  font-size: 0.9rem;
  padding-left: 0.8rem;
}

footer .location {
  font-size: 0.9rem;
  width: 15%;
}

footer a {
  color: white;
}

.picture {
  display: relative;
  margin: 50px auto;
  width: 100%;
}

/* navigation */

nav{
  position: relative;
  height: 15%;
  width: 100%;
  display: inline-flex;
  justify-items: center;
  align-items: center;
  justify-content: center ;
  margin: 0 auto;
  
}

nav li{
  color: white;
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 1.6rem;
  display: inline-block;
  width: 12em;
  text-align: center;
  border: 1px solid black;
  border-radius: 1rem;
}

a {
  color: rgb(54, 52, 52);
  text-decoration: underline;
}

a:hover, nav li:hover {
  color: white;
  text-decoration: none;
}



#banner {
  height: 35rem;
  width: 100%;
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner .content h1{
  font-family: 'Kanit', sans-serif;
  font-size: 5rem;
  text-align: center;
  position: relative;
  margin: 1% auto 5% auto;
  height: 21%;
  width: 90%;
  color: white;
  padding: 7% 3% 7% 3%;
  border: 2px solid white;
  border-radius: 20px;
  z-index: 1;
}

.tagline h2{
  font-family: 'Roboto', sans-serif;
  font-size: 3.125rem;
  color: white;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  bottom: 2.5rem;
}

.content {
  position: relative;
  margin: 0 auto;
  height: 100%;
}


.carousel-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 50;
  width: 100%;
  margin: 0 auto;
}


.slideshow {
  height: 100%;
  overflow: hidden; /* to hide slides in x-direction */
  position: relative;
  
}

.slideshow-wrapper {
  display: flex;
  width: 400%;
  height: 100%;
  position: relative;
  animation: slideshow 20s infinite;
}

.slide {
  width: 100%;
  height: 100%;
}
.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

@keyframes slideshow {
  0%  { left: 0; }
  10% { left: 0; }
  15% { left: -100%; }
  25% { left: -100%; }
  30% { left: -200%; }
  40% { left: -200%; }
  45% { left: -300%; }
  55% { left: -300%; }
  60% { left: -200%; }
  70% { left: -200%; }
  75% { left: -100%; }
  85% { left: -100%; }
  90% { left: 0%; }
}

.slide-btn {
  background-color: #bbb;
  border-radius: 50%;
  border: .2rem solid #d38800;
  width: 1.2rem;
  height: 1.2rem;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 70;
}
          
.slide-btn-1 {
  left: 43%;
}
.slide-btn-2 {
  left: 48%;
}

.slide-btn-3 {
  left: 53%;
}
.slide-btn-4 {
  left: 58%;
}
.slide-btn-1:focus~.slideshow-wrapper {
  animation: none;
  left: 0;
}
.slide-btn-2:focus~.slideshow-wrapper {
  animation: none;
  left: -100%;
}
.slide-btn-3:focus~.slideshow-wrapper {
  animation: none;
  left: -200%;
}
.slide-btn-4:focus~.slideshow-wrapper {
  animation: none;
  left: -300%;
}
          
.slide-btn:focus {
background-color: rgb(114, 189, 250);
}



/* explore */
.explore {
  /* background-color: rgba(11, 149, 241, 0.5); */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  height: 500px;
  margin: 1% auto 4% auto;
  position: relative;
  left: 15%;
}

.introexplore {
  width: 100%;
  min-width: auto;
}

.introexplore h2 {
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 3.125rem;
  font-weight: 600;
  color: black;
  padding: 5%;
  border-left: 5px solid rgb(114, 189, 250);
  border-top: 5px solid rgb(114, 189, 250);

}

.tekapo {
  background-image: url('photos/Mt. Cook/lake tekapo.jpg');
  background-size: cover;
  background-position: center; 
  height: 50%;
  width: 100%;
  position: relative;
  border-radius: 50px;
  border: 1px solid black;
}

/* Trip sections */

/* container */
.tripline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  height: 100%; 
  position: relative;
  margin-bottom: 20px;
  left: 5%;
}


/* container */
.tripline2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  position: relative;
  margin-bottom: 10px;
  left: 5%;
}

#tripheader {
  text-align: center;
  font-weight: 600;
  font-size: 3.5rem;
  word-spacing: 2px;
  position: relative;
  border-bottom: 5px solid rgb(114, 189, 250);
  font-family: 'Kanit', sans-serif;
}

#tripname {
  color: white;
  font-weight: 600;
  font-size: 2.3rem;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  padding: 10px 10px 50px 10px;
  margin: 0 auto; 
  text-decoration: underline;
  border:2px solid rgb(8, 8, 8);
  border-radius: 20px;
  
} 

#tripname:hover {
  color: white;
  font-weight: 600;
  font-size: 2.4rem;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  padding: 10px 10px 50px 10px;
  margin: 0 auto; 
  text-decoration: none;
  border:2px solid rgb(8, 8, 8);
  border-radius: 20px;
}

#tripname h3 {
  background-color: rgba(145, 145, 145, 0.5);
  margin-top: 10%;
  margin-bottom: 50%;
  border-radius: 20px;
}

#tripname h6 {
  font-size: 1rem;
  background-color: rgba(9, 9, 9, 0.5);
  margin-top: 70%;
  border-radius: 20px;
  padding: 1px;
  text-align: center;
  
}

.qtown2 {
  background-image: url("photos/Queenstown/queenstown2.jpg");
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 325px;  
  margin: 20px 30px;
  flex-grow: 1;
  border-radius: 20px;
}

.qtown2:hover {
  cursor: pointer;
  background-image: url("photos/Queenstown/milbrook.jpg");
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 325px;  
  margin: 20px 30px;
  flex-grow: 1;  
  transition: background-image .5s ease-in-out;  
} 

.westcoast {
  background-image: url("photos/West Coast/hokitika.jpg");
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 325px;
  margin: 20px auto;
  flex-grow: 1;
  border-radius: 20px;
}


.westcoast:hover {
  cursor: pointer;
  background-image: url("photos/West Coast/boardwalk.jpg");
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 325px;  
  margin: 20px auto;
  flex-grow: 1;
  transition: background-image .5s ease-in-out;
  color: black;

}

.tongariro {
  background-image: url("photos/Tongariro/Tongariro2.jpg");
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 325px;
  margin: 20px auto;
  flex-grow: 1;
  border-radius: 20px;
}

.tongariro:hover {
  cursor: pointer;
  background-image: url("photos/Tongariro/Tongariro.jpg");
  background-size: cover;
  background-position: top;
  height: 80%;
  width: 325px;  
  margin: 20px auto;
  flex-grow: 1;
  transition: background-image .5s ease-in-out;  
}

.blenheim {
  background-image: url("photos/blenheim/Winery.jpg");
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 325px;  
  margin: 20px 30px;
  flex-grow: 1;
  border-radius: 20px;
}

.blenheim:hover {
  cursor: pointer;
  background-image: url("photos/blenheim/half.jpg");
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 325px;  
  margin: 20px 30px;
  flex-grow: 1;
  transition: background-image .5s ease-in-out;  
}


.castlepoint {
  background-image: url("photos/Castlepoint/castlepoint.jpg");
  background-size: cover;
  background-position: left;
  height: 80%;
  width: 325px;  
  margin: 20px auto;
  flex-grow: 1;
  border-radius: 20px;
}

.castlepoint:hover {
  cursor: pointer;
  background-image: url("photos/Castlepoint/Ica Valley.jpg");
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 325px;  
  margin: 20px auto;
  flex-grow: 1;
  transition: background-image .5s ease-in-out;  
}

.capepalliser {
  background-image: url("photos/Cape Palliser/capepalliser.jpg");
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 325px;  
  margin: 20px auto;
  flex-grow: 1;
  border-radius: 20px;
}

.capepalliser:hover {
  cursor: pointer;
  background-image: url("photos/Cape Palliser/open road (2).jpg");
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 325px;  
  margin: 20px auto;
  flex-grow: 1;
  transition: background-image .5s ease-in-out;  
}


/* grid container */
.gridcontainer {
  display: grid;
  grid-template: repeat(4, 350px) / repeat(6, 1fr);
  width: 80%;
  height: 100%;
  margin: 0 auto;
  gap: 10px;
}

.gridheader h1 {
  text-align: center;
  font-weight: 600;
  font-size: 3.5rem;
  word-spacing: 2px;
  position: relative;
  border-bottom: 5px solid rgb(114, 189, 250);
  font-family: 'Kanit', sans-serif;
}

.skyline {
  background-image: url("photos/Queenstown/sky2.jpg");
  background-size: cover;
  background-position: center; 
  grid-row: 1 / span 1;
  grid-column: 1 / span 6;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
}

.skylinecaption {
  padding-left: 1%;
  height: 25%;
  font-size: 1.5em;
  color: aliceblue;
}


.glenorchy {
  background-image: url("photos/Queenstown/Glenorchy Shed.jpg");
  background-size: cover;
  background-position: center;
  grid-row: 2 / span 1;
  grid-column: 5 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: start;
}

.glenorchycaption {
  padding-left: 1%;
  height: 20%;
  font-size: 1.5em;
  color: aliceblue;
} 

.drive {
  background-image: url("photos/Queenstown/mountains.jpg");
  background-size: cover;
  background-position: center; 
  grid-row: 2 / span 1;
  grid-column: 1 / span 4;
}

.wanakatree {
  background-image: url("photos/Wanaka tekapo/punongwanaka2.jpg");
  background-size: cover;
  background-position: center; 
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
}

.glenorchyboard {
  background-image: url("photos/Queenstown/Glenorchy Board2.jpg");
  background-size: cover;
  background-position: center; 
  grid-row: 3 / span 1;
  grid-column: 3 / span 2;
}

.bino {
  background-image: url("photos/West Coast/bino2.jpg");
  background-size: cover;
  background-position: center;
  grid-row: 3 / span 1;
  grid-column: 5 / span 2;
}

.hobbit {
  background-image: url("photos/Hobbiton/Hobbiton2.jpg");
  background-size: cover;
  background-position: center;
  grid-row: 4 / span 1;
  grid-column: 3 / span 4;
}

.tongariropeak {
  background-image: url("photos/Tongariro/tongariro peak.jpg");
  background-size: cover;
  background-position: center;
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
}



/* About Me */

#aboutme {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 90%;
  position: relative;
  margin: 50px auto;
  left: 5%;
}

.intro {
  color: black;
  text-align: justify-all;
  width: 100%;
  height: 400px;
  border-top: 5px solid rgb(114, 189, 250);
}

.intro p {
  font-family: 'Edu TAS Beginner', cursive;
  font-weight: 500;
  font-size: 25px;
  flex-shrink: 1;
}

.LetsGo {
  width: 100%;
  text-align: center;
  border-bottom: 5px solid rgb(114, 189, 250); 
}

.LetsGo h2{
  font-family: 'Edu TAS Beginner', cursive;
  font-weight: 700;
  font-size: 55px;
}
/* Phone / Portratit Tablet */
@media only screen and (max-width: 600px) {
  nav {
    position: relative;
    height: 15%;
    width: 100%;
    display: inline-flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    bottom: 1rem;
    right: 0.5rem;
  }
 
  nav li{
    color: white;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 1.2rem;
    display: inline-block;
    width: 8rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
  }

  #banner {
    height: 23.75rem;
    margin: 0%;
    position: sticky;
  }
  
  #banner .content h1{
    font-size: 3.5rem;
    height: 100%;
    padding: 2% 1%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .tagline h2{
    font-size: 1.5rem;
    top: 0.7rem;
  }

  .slide-btn {
    background-color: #bbb;
    border-radius: 50%;
    border: .2rem solid #d38800;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 70;
  }
          
  .slide-btn-1 {
    left: 43%;
  }
  .slide-btn-2 {
    left: 48%;
  }
  
  .slide-btn-3 {
    left: 53%;
  }
  .slide-btn-4 {
    left: 58%;
  }
  .slide-btn-1:focus~.slideshow-wrapper {
    animation: none;
    left: 0;
  }
  .slide-btn-2:focus~.slideshow-wrapper {
    animation: none;
    left: -100%;
  }
  .slide-btn-3:focus~.slideshow-wrapper {
    animation: none;
    left: -200%;
  }
  .slide-btn-4:focus~.slideshow-wrapper {
    animation: none;
    left: -300%;
  }
            
  .slide-btn:focus {
  background-color: rgb(114, 189, 250);
  }
  
  .explore {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    height: 21rem;
    margin: 1% auto 4% auto;
    position: relative;
    left: 1%;
    flex-direction: column;
    align-content: center;
  }
  
  .introexplore {
    width: 100%;
    min-width: auto;
  }
  
  .introexplore h2 {
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    padding: 5%;
    border-left: 5px solid rgb(114, 189, 250);
    border-top: 5px solid rgb(114, 189, 250);
  
  }
  
  .tekapo {
    background-image: url('photos/Mt. Cook/lake tekapo.jpg');
    background-size: cover;
    background-position: center; 
    height: 50%;
    width: 100%;
    position: relative;
    border-radius: 50px;
    border: 1px solid black;
  }


  .gridcontainer {
    display: grid;
    grid-template: repeat(4, 18.75rem) / repeat(6, 1fr);
    width: 95%;
    height: 100%;
    margin: 0 auto;
    gap: 10px;
  }

  #aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 40rem;
    width: 90%;
    margin: 1rem auto;
    left: 0%;
  }
  
  .intro {
    width: 100%;
    height: 200px;
    border-top: 5px solid rgb(114, 189, 250);
  }
  
  .intro p {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 500;
    font-size: 1.2rem;
    flex-shrink: 1;
  }
  
  .LetsGo {
    width: 100%;
    text-align: center;

  }
  
  .LetsGo img {
    height: 100%;
    width: 100%;
  }

  .LetsGo h2{
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 700;
    font-size: 3rem;
    margin: 5px auto;
  }

  footer {
    margin-top: 0.62rem;
    height: 4rem;
    width: 100%;
    left: 5%;
  }

}
